@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: #003278;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.topnav>.switch {
    margin-right: 10px;
    margin-left: auto;
    align-self: calc(center - 0.5em);
    margin-top: 8px;
    position: relative;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #003278;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.topnav {
    display: flex;
    justify-content: center;
    justify-content: flex-end;
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: black;
}

.dark-mode .topnav a.active {
    background-color: #003278;
    color: inherit;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        flex-direction: column;
        text-align: left;
    }
}

.dark-mode {
    background-color: black;
    color: red;
}